* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

header img {
    width: 130px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

.btn {
    display: flex;
    gap: 20px;
}

.btn button {
    padding: 13px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 28px;
    font-weight: 600;
    font-size: 15px;
}

.btn button.sign {
    border-radius: 0px;
    background: transparent;
    color: black;
}

section {
    height: 500px;
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

section h1 {
    font-size: 6em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;

}

section p {
    font-size: 1.3em;
    text-align: center;
    color: #555;
    font-family: sans-serif;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search input {
    padding: 25px;
    width: 850px;
    border-radius: 18px;
    background: #F3F3F6;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search i {
    position: relative;
    left: -50px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
width: 53px;
    height: 50px;
    color: white;
    background: #EC5E95;
    border-radius: 50%;

}

.links {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

.links h4 {
    border: 1px solid #000;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 10px;
    font-weight: 500;
}

.links a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-family: sans-serif;
    background: #ebe9e9;
    border-radius: 10px;
    text-align: center;
    padding: 6px;
}

.trend {
    border: none;
}

.cards {
    display: flex;
    gap: 22px;
    padding: 20px 50px;
    flex-wrap: wrap;
}

.card-box {
    width: 385px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.card img,
.card video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    color: white;
    transition: 0.5s;
}

.card:hover .overlay {
    bottom: 0;
}

.bottom {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

.logo h4 {
    font-size: 15px;
}

.logo span {
    background-color: #eee;
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 12px;
}

.like {
    display: flex;
    align-items: center;
    gap: 5px;
    color: gray;
}

.icon i,
p {
    color: #000;
    background: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
}

.continue {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.continue button {
    font-size: 1em;
    font-family: sans-serif;
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}

.logos {
    display: flex;
    gap: 20px;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
}


.logos img {
    position: relative;
    width: 130px;
    animation: anime 5s linear infinite ;
}

@keyframes anime {
    from {
        left: 90%;
    }

    to {
        left: 0%;
    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: sans-serif;
    margin-top: 30px;
}

footer .logo img {
    width: 130px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer ul li {
    list-style: none;
    margin: 0 10px;
    display: inline;
}

footer .social-icon {
    display: flex;
    font-size: 1.5em;
    gap: 20px;
}

